<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Ut Anagramma</title>
    </head>
    <body>
        <p>Find an English anagram that makes sense</p>
        <p>Enter a single word without space or numbers:</p>
        <form method="post" action=".">
            <p><input name="word"/></p>
            <p><input type="Submit" value="Find Anagram"/></p>
            <p></p>
            <p></p>
            <p>..........USAGE:</p>
            <p>For example: The word "friend" has permutations:</p>
            <p>"dneirf" or "ndiefr", try it!</p>
            <p>"Ut Anagramma" consults a +100K words English Dictionary</p>
            <p>"Ut Anagramma" contains names and lastnames in lower case</p>
            <p></p>
            <p>More information:  </p>
            <p><a href="https://github.com/maolopez/ut_anagramma"> github.com/maolopez/ut_anagramma</a></p>
            <p>Fun Facts:  </p>
            <p><a href="https://www.anagrammy.com/anagrams/faq6.html"> www.anagrammy.com
        </form>
    </body>
</html>